.drades-monster{
  display: flex;
  height: 100vh;
  flex-flow: column;
  justify-content: space-between;
  padding: 50px 0;
  box-sizing: border-box;
  flex:0 1 50%;
}
  .monster{
    display: flex;
    flex:0 1 50%;
    background: #ffffff;
    justify-content: center;
    align-items: center;
  }
  .monster__body-img{
    width: 240px;
    height: 240px;
  }
  .monster__face-img{
    width: 90px;
    height: 90px;
  }
  .moster__container-face-img{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    margin-top: -15px;
  }
  .moster__container-fable-img{
    margin-top: 100px;
    position: absolute;
  }