.main{
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: space-between;
    background: #e1f4ff;
    padding: 80px 40px;
    flex:0 1 50%;
    box-sizing: border-box;
  }
  
  .constructors{
    display: flex;
    width: 100%;
    align-items: flex-end
  }