.grades{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.grades__grade{
    display: flex;
    align-items: center;
    background: #006BCC;
    margin: 10px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 17px;
    border-radius: 4px;
    color: #ffffff;
}