.constructor{
    display: flex;
    flex-flow: column;
    margin: 0 10px;
}

.constructor__container{
    display: flex;
    background: #ffffff;
    padding: 10px;
}
.constructor__container-img{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dotted rgb(77, 77, 77);
    border-radius: 3px;
    margin: 0 3px;
    box-sizing: border-box;
    height: 75px;
    width: 90px;
    &:hover{
        border: 3px solid rgb(49, 137, 219);
        box-sizing: border-box;
    }
}
.constructor__img{
    padding: 0 5px;
    width: 70px;
    height: 70px;
    cursor: pointer;
}
.constructor__text{
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
}