.control{
  display: flex;
  flex-flow: column;
  }
  .control__form{
    background: #ffffff;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 200px;
    padding: 30px;
  }
  .input{
    width: 100%;
    cursor: pointer;
  }
  
  .control__value{
    display: flex;
    justify-content: space-between;
  }
  
  .control__img{
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
  .control__text{
    display: flex;
    font-weight: 500;
    font-size: 17px;
  }
  .control__header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 20px;
  }